#logo(ng-controller="HeaderCtrl")
  %h1
    %a{:href => "#"}
      {{siteName}}
#social
  %ul.contact
    %li
      %a.icon-large.icon-twitter-t{:href => "#"}
        %span Twitter
    %li
      %a.icon-large.icon-facebook{:href => "#"}
        %span Facebook
    %li
      %a.icon-large.icon-dribbble{:href => "#"}
        %span Pinterest
    %li
      %a.icon-large.icon-tumblr{:href => "#"}
        %span Google+
    %li
      %a.icon-large.icon-rss{:href => "#"}
        %span Pinterest
